

h2{
    font-size:  40px;
}

.text {
    &.dynamic_info{
        color:lightgreen
    }
    &.error{
    color: indianred;
    }
    &.hint{
        margin-bottom:  10px;
        color:lightgray;
    }
}
.noBottomSpace {
    margin-bottom: 0.15rem;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 1rem;
}


.button {
    border-radius: 3px;
    border: 3px none white;
    padding: 4px;
    margin: 3px;
    box-shadow: #111111 1px 1px 2px;

    &.primary {
        --bg1: #4b4b4b;
        --bg2: #417f41;
        background-image: linear-gradient(to bottom right , var(--bg1),var(--bg2));

    }

    &.secondary {
        background-color: maroon;
        color: white;
    }

    &.danger {
        background: red;
    }

    &:hover {
        opacity: 0.7;
    }
    &:disabled {
        &:hover{opacity:1}
        background-image: linear-gradient(to bottom right , #363636,#363636);

        background-color: #363636;
        color: #716e69;
        border-color:  #C3C3C34D;
        box-shadow: #111111 0 0 0;
    }
}

.camera-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 8px;
    padding: 10px;
}

.sectionSummary {
    background-color: #212f21;
    border-radius: 10px;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content:  center;
    gap: 8px;
    cursor: pointer;
    list-style: none;

}

.sectionSummary::-webkit-details-marker {
    display: none;
}

.sectionSummary h2 {
    margin: 0;
}

.arrow {
    font-size: 0.8rem;
}

details:not([open]) .arrow {
    transform: rotate(-90deg);
}

.camera-image {
    display: block;
    objectFit: cover;
    margin: 0 auto 16px;
    padding: 10px
}

.dividing_line {
    display: flex;
    align-items: center;
    width:  100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}